.book-preview-link {
  @apply inline-block border-gray-700 rounded-md shadow-md;
  @apply overflow-hidden transition duration-500 ease-in-out transform hover:scale-105;
}

.book-preview-link:focus {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
